# artifacts
__pycache__
.pytest*
*/build/*
*/dist/*
/.vscode/

# Home Assistant configuration
.HA_VERSION
.storage/*
blueprints/*
home-assistant*
automations.yaml
configuration.yaml
scenes.yaml
scripts.yaml
secrets.yaml
